h2,h3 { color:#D02222 }
table { width:80% }
body { background-color:#E0E0EE; font-family:sans-serif }
a:link { text-decoration:none; color:blue }
a:visited { text-decoration:none; color:blue }
img { border:none; height:24px }
img.big { border:none; height:32px }
td { border-width:2px; border-style:groove; border-color:green; border-collapse:collapse; text-align:center }
td.switch { border:none; text-align:left; width:115px }
td.edit { border-color:red; }
th { border-width:2px; border-style:groove; border-color:green; border-collapse:collapse; text-align:left }
p.navbar { text-align:center; font-variant:small-caps; font-size:20px }
p.versioninfo { font-style:italic; font-size:9pt }
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 0.5
}
.popup {
  text-align:center;
  margin: 70px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 1);
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

